<!DOCTYPE html>
<html>
<head>
    <title>S.H.A.D.O.W.W. - Cluster Configuration</title>
    <script type="text/javascript" src="jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="jquery.jsonrpc.js"></script>
    <script type="text/javascript" src="handlebars-v4.0.2.js"></script>
    <link type="text/css" rel="stylesheet" href="shadoww.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
<style type="text/css">
#rf_value {
    width: 6em;
}

</style>
<script type="text/javascript">
function call_api(method, params, success_fun, error_fun) {
    $.jsonRPC.setup({
	endPoint : "jsonrpc",
	namespace : ''
    });
    $.jsonRPC.request(method, {
	params : params,
	success : function(data) {
            success_fun(data.result);
	},
	error : function(data) {
            if (typeof error_fun != "undefined") {error_fun();}
	}
    });
}

var opt_list;
var rf_override;
var new_rf_override;
var mb_override;
var new_mb_override;

function load() {
    opt_list = Handlebars.compile($('#option_list').html());

    rf_override = Handlebars.compile($('#rf_override').html());
    new_rf_override = Handlebars.compile($('#new_rf_override').html());

    mb_override = Handlebars.compile($('#mb_override').html());
    new_mb_override = Handlebars.compile($('#new_mb_override').html());

    call_api('list_overrides', [], display_overrides);
}

function display_overrides(overrides) {
    var rf_overrides = [];
    var mb_overrides = [];
    for(i=0; i<overrides.length; i++) {
        if("room" in overrides[i]) {
            rf_overrides.push(overrides[i]);
        } else if("address" in overrides[i]) {
            mb_overrides.push(overrides[i]);
        }
    }

    var override_html = rf_override(rf_overrides);
    var new_override_html = new_rf_override();
    $('#rf_overrides').html(override_html+new_override_html);

    override_html = mb_override(mb_overrides);
    new_override_html = new_mb_override();
    $('#mb_overrides').html(override_html+new_override_html);

    call_api('list_rooms', [], update_rooms);
}

function update_rooms(rooms) {
    rooms = ["All"].concat(rooms);
    $('#rf_room').html(opt_list(rooms));
}

function update_crah_selection(room) {
    if(room == "All") {
        $('#rf_crah').html("<option value=\"All\">All</option>");
    } else {
        call_api('list_crahs', [room], update_crahs);
    }
}

function update_crahs(crahs) {
    crahs = ["All"].concat(crahs);
    $('#rf_crah').html(opt_list(crahs));
}

function add_rf_override() {
    var name = $('#rf_setting').val();
    var resource = $('#rf_resource').val();
    var room = $('#rf_room').val();
    var crah = $('#rf_crah').val();
    var value = $('#rf_value').val();

    if(resource == "All") { resource = null; }
    if(room == "All") { room = null; }
    if(crah == "All") { crah = null; }

    var rf_override = {
        'name': name,
        'resource': resource,
        'room': room,
        'crah': crah,
        'value': parseFloat(value)
    };
    call_api('save_override', [rf_override], update_rf_result);
}

function remove_rf_override(name, resource, room, crah) {
    if(resource == "") { resource = null; }
    if(room == "") { room = null; }
    if(crah == "") { crah = null; }

    var rf_override = {
        'name': name,
        'resource': resource,
        'room': room,
        'crah': crah,
        'value': 0.0
    };
    call_api('remove_override', [rf_override], update_rf_result);
}

function add_mb_override() {
    var name = $('#mb_setting').val();
    var address = $('#mb_address').val();
    var value = $('#mb_value').val();

    if(address == "") { address = null; }

    var mb_override = {
        'name': name,
        'address': address,
        'value': parseInt(value)
    };
    call_api('save_override', [mb_override], update_mb_result);
}

function remove_mb_override(name, address) {
    if(address == "") { address = null; }

    var mb_override = {
        'name': name,
        'address': address,
        'value': 0
    };
    call_api('remove_override', [mb_override], update_mb_result);
}

function update_rf_result(resp) {
    if(resp == "ok") {
        load();
        $('#rf_msg').html("");
    } else {
        $('#rf_msg').html(resp);
    }
}

function update_mb_result(resp) {
    if(resp == "ok") {
        load();
        $('#mb_msg').html("");
    } else {
        $('#mb_msg').html(resp);
    }
}

</script>
<script id="option_list" type="text/html">
{{#each this}}
<option value="{{this}}">{{this}}</option>
{{/each}}
</script>
<script id="rf_override" type="text/html">
{{#each this}}
<tr>
    <td>{{name}}</td>
    <td>{{#if resource}}{{resource}}{{else}}All{{/if}}</td>
    <td>{{#if room}}{{room}}{{else}}All{{/if}}</td>
    <td>{{#if crah}}{{crah}}{{else}}All{{/if}}</td>
    <td>{{value}}</td>
    <td><input type="button" value="-"
onclick='remove_rf_override("{{name}}", "{{resource}}", "{{room}}", "{{crah}}");' /></td>
</tr>
{{/each}}
</script>
<script id="new_rf_override" type="text/html">
<tr>
    <td>
        <select id="rf_setting">
            <option value=""></option>
            <option value="min_s2">Min Stage2 Output</option>
            <option value="max_s2">Max Stage2 Output</option>
        </select>
    </td>
    <td>
        <select id="rf_resource">
            <option value="All">All</option>
            <option value="temperature">Temperature</option>
            <option value="pressure">Pressure</option>
        </select>
    </td>
    <td>
        <select id="rf_room" onchange="update_crah_selection(this.value);">
            <option value="All">All</option>
        </select>
    </td>
    <td>
        <select id="rf_crah">
            <option value="All">All</option>
        </select>
    </td>
    <td>
        <input id="rf_value" type="text" />
    </td>
    <td>
        <input type="button" value="+" onclick="add_rf_override();" />
    </td>
</tr>
</script>
<script id="mb_override" type="text/html">
{{#each this}}
<tr>
    <td>{{name}}</td>
    <td>{{#if address}}{{address}}{{else}}All{{/if}}</td>
    <td>{{value}}</td>
    <td><input type="button" value="-"
onclick='remove_mb_override("{{name}}", "{{address}}");' /></td>
</tr>
{{/each}}
</script>
<script id="new_mb_override" type="text/html">
<tr>
    <td>
        <select id="mb_setting">
            <option value=""></option>
            <option value="mbtcp_pipeline">Modbus pipeline depth</option>
            <option value="mbtcp_rx_timeout">Modbus receive timeout</option>
        </select>
    </td>
    <td>
        <input id="mb_address" type="text" />
    </td>
    <td>
        <input id="mb_value" type="text" />
    </td>
    <td>
        <input type="button" value="+" onclick="add_mb_override();" />
    </td>
</tr>
</script>
</head>
<body onload="load();">
    <a id="logo" href="shadoww.html">s.h.a.d.o.w.w.</a>
    <h3>Control Cluster Configuration</h3>
    <h4>Raised Floor overrides</h4>
    <table>
        <thead><tr>
                <th>Setting</th>
                <th>Resource</th>
                <th>Room</th>
                <th>CRAH</th>
                <th>Value</th>
                <th></th>
            </tr></thead>
            <tbody id="rf_overrides">
            </tbody>
    </table>
    <pre id="rf_msg"></pre>
    <h4>Modbus overrides</h4>
    <table>
        <thead><tr>
                <th>Setting</th>
                <th>Address (empty for all)</th>
                <th>Value</th>
                <th></th>
            </tr></thead>
            <tbody id="mb_overrides">
            </tbody>
    </table>
    <pre id="mb_msg"></pre>
</body>
</html>

