
#acron {
	font-size: 500%;
	font-family: "Verdana", sans-serif;
	font-variant: small-caps;
}
.acron {
	float: left;
	font-size: 150%;
	font-weight: bold;
	text-shadow: #999 3px 3px 5px;
}

#logo {
	text-decoration: none;
	font-family: "Verdana", sans-serif;
	font-variant: small-caps;
	font-size: 50%;
	position: fixed;
	bottom: 1%;
	right: 1%;
	color: #e0e0e0;
}

.indicator {
	margin-left: 1em;
	border: thin black solid;
}

br.clear {
	clear: both;
}

dl.table-display {
	float: left;
	width: 620px;
	margin: 1em 0;
	padding: 0;
	border-bottom: 1px solid #999;
}

.table-display dt {
	clear: left;
	float: left;
	width: 300px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
	font-weight: bold;
}

.table-display dd {
	float: left;
	width: 300px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
}

.table_inputs td {
	padding-right: 10px;
}
.error {
	color: red;
}
.aok {
	color: green;
}

.enabled {
}

.disabled {
	color: lightgray;
}

.linkaok {
	color: green;
	font-size: 125%;
	font-weight: bold;
}

.input {
	width: 50px;
}

table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}
th {
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
td {
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
tbody tr:hover td {
	color: #009;
}
